p {
  color: black;
  width: 500px;
  
}

/* creating a background image on the margins of the page - this was hard to figure out! */
html {
  background-image: url("background2.jpg");
  background-size: cover;
}


/* Creating a body section*/
body { 
  width: 600px;
  margin: 0 auto;
  background-color:#F5FFFA;
  padding: 0 20px 20px 20px;
  border: 2px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;    
  color: #00539F;
  text-shadow: 1px 1px 1px black;
}

/* For centering objects on the page */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 99%;
}

img {
  padding:1px;
  border:1px solid #021a40;
}